In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.cluster import KMeans

In [3]:
data = pd.read_csv("mueller_report.csv")
data.head()

   page  line                                             text
0     1     1                       U.S. Department of Justice
1     1     2     AttarAe:,c\\'erlc Predtiet // Mtt; CeA1:ttiA
2     1     3  Ma1:ertalPrn1:eetedUAder Fed. R. Crhtt. P. 6(e)
3     1     4                 Report On The Investigation Into
4     1     5                       Russian InterferenceIn The

In [6]:
data.describe()

               page          line
count  19195.000000  19195.000000
mean     224.540141     23.744725
std      121.650416     14.235052
min        1.000000      1.000000
25%      120.000000     11.000000
50%      232.000000     23.000000
75%      326.000000     35.000000
max      448.000000     59.000000

In [1]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
data_scaled = scaler.fit_transform(data)

NameError: name 'data' is not defined

In [ ]:
pd.DataFrame(data_scaled).describe()